body{
    background-image: url(./img/Biblioteca01.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
h1{
    font-size: 5rem;
    color: white;
    text-align: center;
    -webkit-text-stroke: 0.7px black;
    background-position: center;
    background-color: rgb(212, 212, 149, 0.5);
}
h2{
    font-size: 2rem;
    color: rgb(18, 18, 15);
    text-align: center;
    background-position: center;
    background-color: rgba(250, 250, 243, 1);
}
.div-botón{
    display: flex;
    justify-content: center;
}
.botón{
    background-color: rgb(244, 170, 11);
    font-size: 2rem;
    color: rgb(44, 42, 40);
    padding: 10px;
    margin: 4px 2px;
    cursor: pointer;
    width: 15%;
    border-radius: 10px;
}
.baúl {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: burlywood;
}
.ficha {
    width: 25%;
    border: 2px solid black;
    background-color: cornflowerblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(99, 72, 72);
    font-size: 30px;
}

.Tapas {
    width: 60%;
    padding-left: 20%;
}
